out: main.css, sourcemap: false, compress: true;

@backroundColor: black;
@textColor: white;
@menuText: 'ubuntu';
@menuTextSize: 2em;
@commonText: 'openSansRegular';
@commonTextSize: 1em;
@pagesColor: #efefef;

@font-face {
  font-family: 'openSansRegular';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf');
}

.common{
  //css en comu a tots el body
  font-family: @commonText;
  font-size: @commonTextSize;
}

body{
  color: @textColor;
  background-color: @backroundColor;
  header{
    text-align: center;
    #logo{
      width: 100%;
    }
    .button{
      font-size: @menuTextSize;
      font-family: @menuText;
      background-color: @backroundColor;
      border: none;
      transition: color 0.5s;
    }
    .button:hover{
      color: @textColor - 50;
    }
  }
  #inicio{
    .common;
  }
  #galeria{
    .common;
  }
  #contacto{
    .common;
    #inf{
      background-color: #efefef;
      color: black;
      div{
        display: inline-block;
      }
      #googleMap{
        width:100%;
        height:400px;
      }
    }
    #social{
      div{

        @marginRight: 4px;

        display: inline-block;
        text-align: center;
        font-size: @commonTextSize*1.3;
        .fa-facebook-official{
          color: #3B5998;
          margin-right: @marginRight;
        }
        .fa-twitter{
          color: #1DA1F2;
          margin-right: @marginRight;
        }
      }
    }
  }
}
