@font-face {
  font-family: 'gidugu';
  src: url('../fonts/Gidugu/Gidugu-Regular.ttf');
}
@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf');
}
body {
  color: white;
  background-color: black;
}
body header {
  text-align: center;
}
body header #logo {
  width: 100%;
}
body header .button {
  font-size: 2em;
  font-family: 'ubuntu';
  background-color: black;
  border: none;
  transition: color 0.5s;
}
body header .button:hover {
  color: #cdcdcd;
}
body #contacto .row div {
  display: inline-block;
}
body #contacto .row .social {
  text-align: center;
}
body main .row {
  background-color: #efefef;
}
