out: main.css, sourcemap: false, compress: true;

@backroundColor: black;
@textColor: white;
@pagesColor: #efefef;

@font-face {
  font-family: 'gidugu';
  src: url('../fonts/Gidugu/Gidugu-Regular.ttf');
}
@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf');
}

body{
  background-color: @backroundColor;
  header{
    text-align: center;
    #logo{
      width: 100%;
    }
    .button{
      font-size: 2em;
      font-family: 'ubuntu';
      background-color: @backroundColor;
      border: none;
      color: @textColor;
      transition: color 0.5s;
    }
    .button:hover{
      color: @textColor - 50;
    }
  }
  main{
    .row{
      background-color: @pagesColor;
    }
  }
}
