out: main.css, sourcemap: false, compress: true;

@backroundColor: black;
@textColor: white;
@menuText: 'ubuntu';
@pagesColor: #efefef;

@font-face {
  font-family: 'gidugu';
  src: url('../fonts/Gidugu/Gidugu-Regular.ttf');
}
@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf');
}

.common{
  //css en comu a tots el body
  background-color: #efefef;
  color: black;
  border-radius: 1em;
  padding: 2em;
}

body{
  color: @textColor;
  background-color: @backroundColor;
  header{
    text-align: center;
    #logo{
      width: 100%;
    }
    .button{
      font-size: 2em;
      font-family: @menuText;
      background-color: @backroundColor;
      border: none;
      transition: color 0.5s;
    }
    .button:hover{
      color: @textColor - 50;
    }
  }
  #inicio{
    .common;
  }
  #galeria{
    .common;
  }
  #contacto{
    .common;
    .row{
      div{
        display: inline-block;
      }
      .social{
        text-align: center;
      }
    }
  }
}
